@model AboutVM


@{
    ViewData["Title"] = "About";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/pages/aboutpage/aboutpage.css" />
}


<main>
    <section id="about-us">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="aboutimg">
                    <h2>Our story so far.</h2>
                    <img src="./assets/image/@Model.About.Image" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="brand">
                        <h4>The Brand</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="brandinfo">
                        <p>
                            @Model.About.Description
                           @* Messenger bag raw denim health goth pour-over, twee Neutra Vice ethical bespoke. Irony
                            hashtag mixtape kogi blog you probably haven’t heard of them, fashion axe readymade
                            scenester flexitarian. Ugh bespoke actually vinyl photo booth tattooed paleo Pinterest
                            Schlitz. Cronut hella selfies, flexitarian sriracha keffiyeh Intelligentsia biodiesel.*@
                        </p>
                        <p>
                           @* @Model.About.Description.Substring(348,219)*@
                           @* Ethical sustainable gastropub chillwave. Gentrify semiotics cold-pressed, narwhal
                            hashtag cardigan artisan swag kale chips raw denim wolf tilde. High Life brunch
                            stumptown salvia, Godard readymade scenester flexitarian.*@
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact">
                        <h4>Contact Us</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contactinfo">
                        <p class="tel">@Model.About.Phone</p>
                        <p class="mail">@Model.About.Website</p>
                        <p class="address">@Model.About.Address</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ourteam">
                        <h4>Our Team</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ourteaminfo">
                        <div class="teammembers">

                            @foreach (var team in Model.Teams)
                            {
                                <div class="member firstmember">
                                    <img src="./assets/image/@team.Image" alt="">
                                    <h6>@team.Name</h6>
                                    <span>@team.Position</span>
                                </div>
                               
                            }


                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>