@model BlogDetailVM

@{
    ViewData["Title"] = "Blog Detail";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/pages/blogdetailpage/blogdetailpage.css" />
}

<main>
    <section id="blog-detail">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="mainimage">
                    <img src="~/assets/image/@Model.Images.Where(m=>m.IsMain).FirstOrDefault()?.Image" alt="">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blogdetail">
                    <h2>@Model.Title</h2>
                    <span>By NordicMade on @Model.CreateDate.ToString("dd MMMM yyyy")</span>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>

            <div class="row">

                @foreach (var image in Model.Images)
                {


                    <div class="col-lg-6">
                        <div class="blogimage">
                            <img src="~/assets/image/@image.Image" alt="">
                        </div>
                    </div>



                }

            </div>
            <div class="col-lg-12">
                <div class="comment">

                    <div class="tagname">
                        <span># @Model.TagName</span>
                    </div>

                    <div class="categoryname">
                        <p>Posted in <a href="">@Model.CategoryName</a>.</p>
                    </div>


                    <hr>

                </div>

            </div>
        </div>
    </section>
</main>

