@model ShopDetailVM

@{
    ViewData["Title"] = "Shop Detail";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/pages/shopdetailpage/shopdetailpage.css" />
}

<main>

    <section id="carouselshop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="pagecategory">
                        <ul>
                            <li>Shop</li>
                            <li>/</li>
                            @foreach (var category in Model.ProductCategories)
                            {
                                <li>@category</li>
                            }
                            <li>/</li>
                            <li>@Model.Name</li>
                        </ul>
                    </div>
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img src="~/assets/image/@Model.ProductImages.FirstOrDefault()" class="d-block w-100" alt="...">
                            </div>

                            @if(Model.ProductImages.Skip(1).FirstOrDefault() != null){
                                @foreach (var image in Model.ProductImages.Skip(1))
                                {
                                    <div class="carousel-item">
                                        <img src="~/assets/image/@image" class="d-block w-100" alt="...">
                                    </div>
                                }
                            }
                            else
                            {
                                 <div class="carousel-item">
                                        <img src="~/assets/image/@Model.ProductImages.FirstOrDefault()" class="d-block w-100" alt="...">
                                    </div>
                            }


                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon lefticon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span style="color:black !important" aria-hidden="true"
                                  class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="productinfos">
                        <h3>@Model.Name</h3>
                        <span>$</span><span>@Model.Price</span>
                        <p>
                            Designed for simplicity and made from high quality materials. Its sleek geometry and
                            material combinations creates a modern personalized look.
                        </p>
                        <div class="rating">
                          
                           @for (int i = 0; i < Model.RatesWorth / Model.RatesCount; i++)
                            {
                                <i class="fa-regular fa-star"></i>
                            }

                        </div>
                       @* <select name="colorId" id="">
                            <option selected default value="">@Model.ProductColors.FirstOrDefault()</option>
                           @foreach (var color in Model.ProductColors.Skip(1))
                            {
                                <option value="">@color</option>
                            }
                        </select>*@
                        <form asp-controller="Shop"asp-action="AddBasket" asp-route-id="@Model.Id">
                        <div class="quantity">


                            <ul>
                                <span class="countproduct">Quantity</span>
                                <li>
                                    <i class="fa-solid fa-minus"></i>
                                </li>
                                <li>
                                        <input style="background:#f0eded" name="quantity" min="1" value="1" type="number" readonly>
                                </li>
                                <li>
                                    <i class="fa-solid fa-plus"></i>
                                </li>
                            </ul>

                        </div>

                   
                            <button type="submit">Add to cart</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="productdetail">
                    <div class="headers">
                        <ul>
                            <li data-id="1" class="active">Description</li>
                            <li data-id="2">Additional information</li>
                            <li data-id="3">Comments</li>
                        </ul>
                    </div>
                    <div class="content">
                        <div data-id="1" class="descriptioninfo">
                            <p>
                              @Model.Description
                            </p>
                        </div>

                        <div data-id="2" class="additionalinfo d-none">

                            <table>
                                <thead>
                                    <tr>
                                        <td>Weight</td>
                                        <td>@Model.Weight</td>
                                    </tr>
                                    <tr>
                                        <td>Dimensions</td>
                                        <td>@Model.Dimensions</td>
                                    </tr>
                                    <tr>
                                        <td>Materials</td>
                                        <td>@Model.Materials</td>
                                    </tr>
                                    <tr>
                                        <td>Other Info</td>
                                        <td>@Model.OtherInfo</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div data-id="3" class="comments d-none">


                            <div class="comment" >
                                <h2>UserName</h2>
                                <p>Loremdscvnskjdncvdsncvoajsdfnovjadsfnv;ajdfsnv;ufdohnv;osudifhg; hgpuiosrghpklvnmdsaikvnaosinvh</p>
                            </div>

                        
                            <form asp-controller="Shop" asp-action="AddComment" asp-route-userId="" asp-route-productId="@Model.Id">

                                <input type="text" />

                                <button type="submit">Add comment</button>
                            </form>
                        
                              
                           
                        </div>
                    </div>
                </div>
                <div class="tag">
                    <ul>
                        <li>SKU: <span> @Model.Sku</span></li>
                        <li>Category:
                            @foreach (var category in Model.ProductCategories)
                            {
                                <span>@category</span>
                            }
                        </li>
                        <li>Tags: @foreach (var tag in Model.ProductTags)
                            {
                                <span>@tag</span>

                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>

@section Script{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/shopdetail.js"></script>

}